@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&subset=korean');

* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
  text-align: center;
}

p {
    line-height: 1.6em;
}

.code {
    background: #f1eaff;
    border-radius: 4px;
}

.long-text {
    font-size: 1.1em;
}

#logo {
    width: 300px;
}
